*~
*.elc
\#*\#
/site-lisp/personal.el
/elpa/
site-lisp/#*#
site=lisp/*~
/recentf
/ac-comphist.dat
/.mc-lists.el
/bookmarks
/eshell/
/irony/
/site-lisp/.#init-paren-face.el
/games/
/local-packages/ut
/network-security.data
/.cache/treemacs-persist
/.cask/*
/transient/*
/tutorial/*
/custom.el
/abbrev_defs
/org-roam.db
/.lsp-session-v1
/projectile-bookmarks.eld
/.org-id-locations
/.cache/
/.dap-breakpoints
/.extension/
/.last-package-update-day
/forge-database.sqlite
/tramp
/url/
/init-test.el
